<div class="container hero mb-5">
  <h1 class="clearfix"><span class="pull-left">New Blog</span> <span class="pull-right"><%= link_to 'Back', blogs_path, class: 'btn btn-secondary pull-left' %></span></h1>
  <hr>
  <%= render 'form', blog: @blog %>
</div>