<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-8 offset-2">
          <div class="card contact-me">
            <div class="card-header">
                Contact Me
              </div>
              <div class="card-body">
                <p class="card-text">Feel free and send to me directly. Just fill up this form so you can reach me out.</p>

                <form>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label>Name</label>
                      <input type="text" class="form-control">
                    </div>
                    <div class="form-group col-md-6">
                      <label>Email address</label>
                      <input type="email" class="form-control">
                    </div>
                  </div>

                  <div class="form-group">
                      <label>Message</label>
                      <textarea class="form-control"></textarea>
                  </div>

                  <button type="submit" class="btn btn-success">Submit</button>
                </form>
              </div>
            </div>
        </div>
    </div>
</div>