<!-- Skills -->

<h4 class="font-weight-bold text-uppercase">Skills</h4>
<div class="row">

  <div class="col-6 skills-card text-center">
    <p class="font-weight-bold">Front-End Web Technologies</p>
    <span class="badge badge-primary">HTML</span>
    <span class="badge badge-primary">CSS</span>
    <span class="badge badge-secondary">Bootstrap</span>
    <span class="badge badge-primary">Javascript</span>
    <span class="badge badge-secondary">JQuery</span>
  </div>

  <div class="col-6 skills-card text-center">
    <p class="font-weight-bold">Back-End Web Technologies</p>
    <span class="badge badge-primary">PHP</span>
    <span class="badge badge-primary">Laravel</span>
    <span class="badge badge-secondary">Codeigniter</span>
    <span class="badge badge-primary">Ruby</span>
    <span class="badge badge-primary">Ruby on Rails</span>
  </div>

  <div class="col-6 skills-card text-center">
    <p class="font-weight-bold mt-4">Database</p>
    <span class="badge badge-primary">MySQL</span>

    <p class="font-weight-bold mt-4">API</p>
    <span class="badge badge-primary">Rest/Soap API</span>
  </div>

  <div class="col-6 skills-card text-center">
    <p class="font-weight-bold mt-4">Version Control System</p>
    <span class="badge badge-primary">Source Tree</span>
    <span class="badge badge-primary">Git</span>

    <p class="font-weight-bold mt-4">Web Hosting/Server</p>
    <span class="badge badge-primary">CPanel</span>
    <span class="badge badge-primary">GoDaddy</span>
    <span class="badge badge-primary">Hostinger</span>
  </div>

  <div class="col-12 skills-card text-center mt-4">
    <p class="font-weight-bold">Others</p>
    <span class="badge badge-secondary">Wordpress</span>
    <span class="badge badge-primary">Node JS</span>
    <span class="badge badge-primary">React JS</span>
    <span class="badge badge-secondary">Java</span>
    <span class="badge badge-secondary">Python</span>
    <span class="badge badge-secondary">Django Framework</span>
    <span class="badge badge-secondary">C++</span>
    <span class="badge badge-secondary">C#</span>
    <span class="badge badge-secondary">Visual Basic</span>
    <span class="badge badge-secondary">MongoDB</span>
    <span class="badge badge-secondary">Photoshop</span>
  </div>

</div>

<!-- Skills -->