<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-3">
        <img src="/assets/IMG_20200628_152233.jpg" alt="..." class="img-thumbnail" height="300px" width="300px">
      </div>
      <div class="col-8">
        <h1 class="display-4">Hi, I'm Mike Alibo</h1>
        <p class="lead">Passionate Front and Back End Web Developer</p>
        <hr class="my-4">
        <p>I want to improve my skills and gain knowledge through experience. Become a good programmer in all aspects. </p>
        <a class="btn btn-primary btn-sm" href="#" role="button">Learn more</a>
      </div>
    </div>
    
  </div>
</div>

<%= render 'pages/home_partials/contact_form' %>