<div class="container hero">
  <div class="row">
    <div class="col-sm-12 col-md-3 col-lg-3 text-center information">
      <img src="/assets/IMG_20200628_152233.jpg" class="rounded-circle" height="200px" width="200px">
      <h3 class="mt-2 mb-0">Mike Alibo</h3>
      <p class="p-0 m-0">BS  Computer Science</p>
      <i>St. John Technological College of the Philippines</i>
      <hr class="my-4">
      <p class='lead'>Web Developer</p>
    </div>
    <div class="col-sm-12 col-md-9 col-lg-9 featured-blog">

      <div class="row mt-2">
        
        <div class="col-sm-12 col-md-8 col-lg-8">
          <img src="/assets/featured.jpg" class="img-fluid" height="280px">
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4">
          <p class='lead'>Django + Heroku</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eget est mi. Vestibulum vel lectus aliquet, ultrices felis non, pulvinar sem. Pellentesque non lorem lorem. Phasellus malesuada nisi id ultrices semper. Suspendisse potenti. ... </p>
          <small class="text-muted pull-right">- October 24, 2020</small>
        </div>
      </div>

      <div class="my-3 p-3 bg-white rounded shadow-sm">
        <h6 class="border-bottom border-gray pb-2 mb-0">Recent blogs</h6>
        <div class="media text-muted pt-3">
          <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <strong class="d-block text-gray-dark">@username</strong>
            Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
          </p>
        </div>
        <div class="media text-muted pt-3">
          <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <strong class="d-block text-gray-dark">@username</strong>
            Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
          </p>
        </div>
        <div class="media text-muted pt-3">
          <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <strong class="d-block text-gray-dark">@username</strong>
            Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
          </p>
        </div>
        <small class="d-block text-right mt-3">
          <a href="#">All blogs</a>
        </small>
      </div>
    </div>
  </div>
</div>