@import 'bootstrap/dist/css/bootstrap';
@import "font-awesome";

$white: white;

$bold: bold;
$oxford-blue: #0C1B33;
$black-coffee: #32292F;
$black: black;

.text-black {
    color: $black;
}

.text-decoration-none:hover {
    text-decoration: none;
}

.text-hover-black:hover {
    color: $black;
}

.font-weight-bold {
    font-weight: bold;
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

.navbar-toggler {
    border-color: white;
}

.navbar {
    background-color: $black-coffee;
    padding: 1em 8em !important;
    margin-right: 0 !important;
}

.navbar > .navbar-brand {
    color: $white;
}

.navbar > .navbar-collapse > .navbar-nav > .nav-item > .nav-link {
    color: #917889;
    font-weight: $bold;
}

.navbar > .navbar-collapse > .navbar-nav >.nav-item > .nav-link:hover {
    color: $white;
    border-bottom: 0.1em solid $white;
    padding-bottom: 0.1em;
}

.contact-me > .card-header {
    background-color: #876E7E;
    color: $white;
    font-weight: $bold;
}

.contact-me > .card-body > form > button {
    background-color: #876E7E;
    border-color: #876E7E;
}

.page-footer {
    background-color: $black-coffee;
    color: #917889;
}


.list-unstyled > .list-inline-item > .btn-fb {
    font-size: 1.8em;
    color: #876E7E;
}

.list-unstyled > .list-inline-item > .btn-fb:hover {
    font-size: 1.8em;
    color: white;
}

.hero {
    margin-top : 5em;

    color: $black-coffee;
    background-color: white;
}

.hero img {
    border:2px solid $black-coffee;
    background: no-repeat center center fixed;
}

.information {
    margin-top: 5em;
}

@media (min-width: 576px) {
    .navbar {
        background-color: $black-coffee;
        padding: 1em 3em !important;
        margin-right: 0 !important;
    }
}
