<!-- Footer -->
<footer class="page-footer font-small stylish-color-dark pt-4">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-4 mx-auto">

        <!-- Content -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Bible Verse</h5>
        <p> <i> -- For God so loved the world, as to give his only begotten Son; that whosoever believeth in him, may not perish, but may have life everlasting. ... For God so loved the world that he gave his one and only Son, that whoever believes in him shall not perish but have eternal life.
        </i></p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Featured Blog</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Link 1</a>
          </li>
          <li>
            <a href="#!">Link 2</a>
          </li>
          <li>
            <a href="#!">Link 3</a>
          </li>
          <li>
            <a href="#!">Link 4</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Featured Portfolio</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Link 1</a>
          </li>
          <li>
            <a href="#!">Link 2</a>
          </li>
          <li>
            <a href="#!">Link 3</a>
          </li>
          <li>
            <a href="#!">Link 4</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Link 1</a>
          </li>
          <li>
            <a href="#!">Link 2</a>
          </li>
          <li>
            <a href="#!">Link 3</a>
          </li>
          <li>
            <a href="#!">Link 4</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->
  
  <div class="social-links text-center mt-2 mb-3">
    <h5 class="font-weight-bold text-uppercase mt-3">Follow Me</h5>
    <!-- Social buttons -->
      <ul class="list-unstyled list-inline">
        <li class="list-inline-item">
          <%= link_to ('<i class="fa fa-facebook-square"></i>').html_safe, root_path, class: 'btn-floating btn-fb mx-1' %>
        </li>
        <li class="list-inline-item">
          <%= link_to ('<i class="fa fa-youtube-square"></i>').html_safe, root_path, class: 'btn-floating btn-fb mx-1' %>
        </li>
        <li class="list-inline-item">
          <%= link_to ('<i class="fa fa-linkedin-square"></i>').html_safe, root_path, class: 'btn-floating btn-fb mx-1' %>
        </li>
      </ul>
    <!-- Social buttons -->
  </div>

 

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">Copyright © 2020
    <!-- <a href="https://mdbootstrap.com/"> MDBootstrap.com</a> -->
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->