<!-- Footer -->
<footer class="page-footer font-small stylish-color-dark pt-4">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">Copyright © 2020
    <!-- <a href="https://mdbootstrap.com/"> MDBootstrap.com</a> -->
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->